$('answer-errors').empty();

<% @answer.errors.full_messages.each do |message| %>
$('.answer-errors').append('<%= j message %>');
<% end %>

<% if !@signed_in %>
$('.answer_errors').append('<%= j I18n.t('devise.failure.unauthenticated') %>')
<% elsif !@has_rights %>
$('.answer-errors').append('<%= j 'You don\'t have rights to perform this action.' %>');
<% elsif @answer.errors.empty? %>
  $(' <%= '.answer.read_answer_section#answer_' + @answer.id.to_s %>').children().first().replaceWith("<p><%= j @answer.body %></p>");
  answerReadMode();
<% end %>
